# DS_Store
.DS_Store

# Google Service Account Key
service-account-key.json

# Virtual Environment
.venv/

# Python cache files
__pycache__/

# Secrets
.env

# Logs
logs/

# Plugins
plugins/

# Historic Data
data/

# Test Configuration Files
.hypothesis/
test.db
.pytest_cache/